<!DOCTYPE html>
<html>
  <head>
    <title>Pantry Raid | About Us</title>
  </head>
  <body>
    <h1>About This Site</h1>
    <p>
      There will be some helpful info here soon!
    </p>
  </body>
</html>