<!DOCTYPE html>
<html>
  <head>
    <title>Pantry Raid | Help</title>
  </head>
  <body>
    <h1>Need Some Help?</h1>
    <p>
      This page will have some helpful tips at some point. 

  	  Stay Tuned!
    </p>
  </body>
</html>
