<% @body_class = "about" %>
<% provide(:title, 'Help') %>

<div class="center hero-unit">
	<h1>Need Some Help?</h1>
	<p>
   	This page will have some helpful tips at some point. 

  	Stay Tuned!
	</p>
</div>
