<div class="center hero-unit">
  <h1>Welcome to Pantry Raid</h1>

  <h2>
    This is the home page for all your cooking needs.  It is a Recipe Site.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <div class ="homepicture">
  	<%= image_tag("pplogosmall.gif", alt:"logo") %>
  	<%= image_tag("food1.jpg", alt:"Food1") %>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
