<% @body_class = "about" %>
<% provide(:title, 'Take a Tour') %>
<div class="center hero-unit">
	<h1>Take a Tour</h1>
	<p>
    	Check out what you can to Use Your Foodle!
	</p>
</div>

<div class="center">
	<p>
		First and foremost you can view hundreds of recipes.  We're sure that you can find something you'll enjoy.  We strive to make our recipes easy to read and use.  Have a look at a typical recipe below!
	</p>

	Link to recipe picture with descriptions

	<p>
		What separates us from other recipe sites is our unique dedication to help you use all the ingredients that you buy.  Many recipes leave you with extra leftover ingredients which often don't get used.  This food waste is costing you money.  We automatically recommend other recipes so that you use all the food that you buy.  All you have to do is click an ingredient on the recipe page and we'll display recipes that use that ingredient.  It's that simple!
	</p>
</div>


