<%= form_for([current_user.pantry_items.build]) do |f| %>
	<%= @recipe.ingredients.each do |ingredient| %>
		<div><%= hidden_field_tag :ingredient_id, ingredient.id %></div>
	<% end %>
	<%= f.submit "I Made This!", class: "btn btn-large btn-primary" %>
<% end %>
