<div class="thecarousel" id="Carousel">
<ul class="bxslider">
                <li><%= link_to image_tag(@one.recipeimage_url(:thumb).to_s, :title => @one.name), { :action => :show, :id => @one.id} %></li>
                <li><%= link_to image_tag(@two.recipeimage_url(:thumb).to_s, :title => @two.name), { :action => :show, :id => @two.id} %></li>
                <li><%= link_to image_tag(@three.recipeimage_url(:thumb).to_s, :title => @three.name), { :action => :show, :id => @three.id} %></li>
</ul>
</div>