<% @body_class = "about" %>
<% provide(:title, 'All recipes') %>
<h1>All recipes</h1>
<div>
<%= render 'newest' %>
</div>

<%= will_paginate %>

<ol class="users">
	<%= render @recipes %>
</ol>

<%= will_paginate %>
