<% @body_class = "about" %>
<% provide(:title, 'View Our Recipes') %>
<h1>View Our Recipes</h1>
<section class="newest-recipe">
	<div class="container">
		<%= render 'newest' %>
	</div>
</section>

<section class="feature-recipe">
	<div class="container">

	   	 	<%= link_to @featurerecipe.name.titleize, recipe_path(@featurerecipe) %>

	   	 <%= link_to image_tag(@featurerecipe.recipeimage_url(:thumb).to_s, :title => @featurerecipe.name), { :action => :show, :id => @featurerecipe.id, :controller => :recipes } %>

	</div>
</section>

