<% provide(:title, 'Add a recipe') %>
<h1>Add a recipe</h1>
<div class="row">
  <div class="span6 offset3">
  	<%= form_for(@recipe) do |f| %>
  			<%= render 'shared/error_messages', object: f.object %>
    		<%= render 'recipeform', f: f %>

    	<p>Some Test Text</p>
    		
        <%= f.submit "Create this recipe", class: "btn btn-large btn-primary" %>

	<% end %>
  </div>
</div>
