<% @body_class = "about" %>
<% provide(:title, 'Add a recipe') %>
<h1>Add a recipe</h1>
<div class="container">
  
    
    	<%= form_for(@recipe) do |f| %>
    			<%= render 'shared/error_messages', object: f.object %>
      		<%= render 'recipeform', f: f %>

      	<div class="clearfix visible-xs"></div>
      	<div class="row">	
          <%= f.submit "Create this recipe", class: "btn btn-large btn-primary" %>
          ** Indicate required fields
      	</div>
      

  	<% end %>
    
  
</div>
