<% provide(:title, @recipe.name) %>
<div class="center hero-unit">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @recipe.name %>
        <%= @recipe.description %>
      </h1>
    </section>
  </aside>
</div>
</div>