<% @body_class = "about" %>
<div class = "center hero-unit">
    <h1> Use Your Foodle! </h1>
    <h2> Help elminate food waste!  Here are your most important items. </h2>
</div>


  	<%= render 'shared/user_info' %>

<div class="clearfix visible-xs"></div>
<%= render 'recipes/newest' %>


	<h3>Saved Recipes</h3>
	<ul class="users">
	<%= render current_user.saved_recipes %>
</ul>
    <h3>Recent Comments</h3>
    <%= render 'shared/feed' %>
