<p class ="fields">
	  		<%= builder.label :name, "Ingredient" %>
	  		<%= builder.text_field :name %>
	  		

	  		<%= builder.label :quantity, "Quantity" %>
	  		<%= builder.text_field :quantity %>
</p>