
  
<div class="span2"><%= ingredient.quantity %> <%= ingredient.unit %></div>
<div class="span8"><div class="info_link"><%= ingredient.name %></div> <% if ingredient.style.present? %>, <%= ingredient.style %>  <% end %></div>



