  <span class ="span12">
  <div class="span4">Ingredient   </div>
  <div class="span2">Quantity</div>
  </span>



  <div class="span4"><%= ingredient.name %>   </div>
  <div class="span2"><%= ingredient.quantity+"    " %></div>
  <div class="span4">
    Posted <%= time_ago_in_words(ingredient.created_at) %> ago.
  </div>
