$heroUnitBackground: white;
$sansFontFamily: 'Allerta', Helvetica, Arial, sans-serif;
$serifFontFamily: 'Crimson Text', Georgia, Times, serif;




@import "bootstrap";
@import "font-awesome";
//narbar color override
.navbar-inner {
    background-color: #a44545 !important;
    background-image: -mox-linear-gradient(top, #a44545, #a44545) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a44545), to(#a44545)) !important;
    background-image: -webkit-linear-gradient(top, #a44545, #a44545) !important;
    background-image: -o-linear-gradient(top, #a44545, #a44545) !important;
    background-image: linear-gradient(to bottom, #a44545, #a44545) !important;
    border-color: #a44545 !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff006633', endColorstr='#ff006633', GradientType=0);
}




/* universal */


.pad {
  padding: 20px 20px;
}

html {
  overflow-y: scroll;
}

body.none {
  padding-top:40px;
}

body.about{
  background-color:#F0E9E9;
  padding-top:60px;
}
/*@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}*/

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.fixed {
  position: fixed;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
.inner {
  width: 50%;
  margin: 0 auto;
}
.negative {
  background-color: #FF9A40;
}

.expired {
  background-color: red;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Museo Slab', sans-serif
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}
p, div,ol {
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

p {
  font-size: 1.1em;
  line-height: 1.2em;
}
/* header */

div.container {
  padding: 5px;
}

div.navbar-inner {
  top: 0;
  background-image: none;
  background-color: white;
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #727272;
}
.navbar-static-top {
  top: 0;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: white;
}
.navbar {
  min-width: 900px;
}
.navbar .nav > li {
  &:hover {
    background-color:#a60000;
  }
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  margin-left: 10px;
  font-weight: normal;
  line-height: 1;
  font-family: 'Crimson Text', Georgia, Times, serif;
  &:hover {
  	text-decoration: none;
    text-shadow: 2px 2px #B22222;
    
  }

}
/* menu */

#container2 {
  float: left;
  width: 100%;
  background:lightgrey;
  overflow:hidden;
  position:relative;
  
}

#maincontainer {
  float: left;
  width: 100%;
  min-width: 800px;
  background-color:#FFF9F1;
  position: relative;
  right: 0%;
}

#col1 {
  float: left;
  width: 85%;
  position:relative;
  overflow:hidden;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  padding:5px;
}

#col2 {
  float: right;
  width: 13%;
  background:#FFF9F1;
  position:relative;
  overflow:hidden;



}

/* footer */

footer {
  padding: 30px;
  border-top: 1px solid #eaeaea;
  background-color:#5E5E5E;
  color: black;
  a {
    color: black;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}




.container {
  width: 95%;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 15px;

}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  @include box_sizing;
}

input {
  height: auto !important;
}

.homepicture {
  margin-top: 30px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Recipe Page */

.serving {
  
}

.mainpicture {
  margin-left: 600px;
  min-width: 300px;
}

ol#ingredients {
  line-height: 2px;
}

.theingredients {
  width: 100%;
  overflow: hidden;
}
#ingredientlist {
  width: 500px;
  height: auto;
  float: left;
}

.thecarousel {
  width: 300px;
  margin-left: 550px;
  padding: 0px;
}
ul.bxslider {
  margin: 0;
  padding: 0;
}

/* Users index */

.users {
  /*list-style: none;*/
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $black;
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  background-color: FFCEBA;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

/* Dashboard */

#dashboard_links {
  margin: 20px 0px;
}

/* help page */
.image_center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* landing page */


#featurette, #signin, #mainContent, #endContent{
  padding: 40px 0 0px;
  background-color: #F0E9E9;
  height: 243px;
  margin-top: 0px;
  position: relative;
  z-index:0;
  h1,h2,h3 {

    letter-spacing: 0px;
  }


  div.container {
    background-color: #F0E9E9;
    width: 980px;
    margin: auto;
    padding: 0px;

  }
  section.row {
    height: 202px;
    position: relative;
  }
  div.span4 {
    margin-left: 60px;
    text-align:center;
  }
  div.span2 {
    margin-left: 60px;
  }
}

#featurette {
  h1 {
    font-size: 30px;
    color: brown;
    font-weight: 2em;
    margin-bottom:0px;
  }
}


#signin {
  
  height: 100px;
  padding: 20px 0 0px;
  section.row {
    height: 70px;
    margin-top: 7px;
    background-color: #F0E9E9;
  }
  div.container {
    background-color: #F0E9E9;
  }
  div.span2{
    height: 60px;
    margin-top: 7px;
  }
}

div.tight {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    letter-spacing: 0px;
  }
#feature {
  text-align: center;
  padding: 20px 0 10px;
  background-color: #a44545;

  

  div.container {
    background-color: #a44545;
  }
  em {
    color: #feeoeo;
  }
  h1,h2,h3 {
    color: white;
    letter-spacing: 0px;
  }
  h1 {
    font-size: 30px;
    
  }
  h2 {
    font-size: 20px;
  }

}
#mainContent {
  height: 940px;
  div.picture {
    height: 150px;
  }
}

#endContent {
  height: 350px;
  background-color: #4E8FC0;
  div.container {
    background-color: #4E8FC0;
  }
  h1,h2{
    color: white;
  }
}

.recipe-name {
  height:100px;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 120%;
}

section {
  overflow: hidden;
}