$heroUnitBackground: white;
$sansFontFamily: 'Allerta', Helvetica, Arial, sans-serif;
$serifFontFamily: 'Crimson Text', Georgia, Times, serif;

@import "bootstrap";



/* universal */

html {
  overflow-y: scroll;
}

body.none {
  padding-top: 60px;
  background-image:url('food2.jpg');
  background-size:100% 100%;
  background-repeat:no-repeat;
}

body.about{
  padding-top: 60px;
  background-color:#6F1F1F;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.fixed {
  position: fixed;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}
p, div,ol {
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

p {
  font-size: 1.1em;
  line-height: 1.2em;
}

/* header */

div.container {
  background-color: #FFF9F1;
  padding: 5px;
}

div.navbar-inner {
  background-color: white;
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #727272;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #666666;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $yellow;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  margin-left: 10px;
  font-weight: normal;
  line-height: 1;
  font-family: 'Crimson Text', Georgia, Times, serif;
  &:hover {
  	color: #36546E;
  	text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
  }

}
/* menu */

#container2 {
  float: left;
  width: 100%;
  background:lightgrey;
  overflow:hidden;
  position:relative;
  
}

#maincontainer {
  float: left;
  width: 100%;
  background-color:#FFF9F1;
  position: relative;
  right: 20%;
}

#col1 {
  float: left;
  width: 78%;
  position:relative;
  left: 20%;
  overflow:hidden;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  padding:5px;
}

#col2 {
  float: left;
  width: 20%;
  background:#FFF9F1;
  position:relative;
  left: 80%;
  overflow:hidden;



}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #eaeaea;
  background-color:#36546E;
  color: black;
  a {
    color: black;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
  padding-bottom: 15px;
	background-color: #36546E;
}

.container {
  width: 95%;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 15px;

}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  @include box_sizing;
}

input {
  height: auto !important;
}

.homepicture {
  margin-top: 30px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
/* Recipe Page */

.serving {
  
}

.mainpicture {
  margin-left: 600px;
}

ol#ingredients {
  line-height: 2px;
}

.theingredients {
  width: 100%;
  overflow: hidden;
}
#ingredientlist {
  width: 500px;
  height: auto;
  float: left;
}

.thecarousel {
  width: 300px;
  margin-left: 550px;
  padding: 0px;
}
ul.bxslider {
  margin: 0;
  padding: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $black;
    &:last-child {
      border-bottom: 1px solid $black;
    }
  }
  background-color: FFCEBA;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

/* Dashboard */

#dashboard_links {
  margin: 20px 0px;
}
