html {
  background-color: #eaeec4;
}
body.recipe {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  background-color: #eaeec4
}
#page-wrapper {
  position: relative;
  width: 980px;
  /* centers the document */
  margin: 0 auto;
  /*
  hides anything drawn off canvas.
  remove overflow and height to see things drawn off canvas.
  */
  overflow: hidden;
  height: 70px;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#namerec {
  background: #eaeec4;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  width: 900px;
  height: 107px;
  position: relative;
  top: 72px;
  
}
#name {
  display: inline-block;
  width: 900px;
  height: 105px;
  position: relative;
  top: 29px;
  left: 71px;
}
#namerec .well {
  position: relative;
}
#namerec .well.well-1 {
  position: relative;
  width: 460px;
  height: 20px;
  top: 115px;
  left: 452px;
}
#seperator {
  background: #000000;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  width: 1580px;
  height: 11px;
  position: absolute;
  top: 395px;
  left: -115px;
}
#directionrec {
  background: #81df88;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  width: 1500px;
  height: 207px;
  position: absolute;
  top: 424px;
  left: -50px;
}
#absolute-wrapper .dom-body-text.paragraph {
  width: 460px;
  height: 139px;
  position: absolute;
  top: 531px;
  left: 65px;
}

h1 {
  text-align: center;
}