<footer class="footer">
      <div class="container-fluid">
        <p class="pull-left">
          Use Your Foodle &copy; Chris Barthol 2012-2013
        </p>
        <p class="pull-right">
          <nav>
            <ul>
              <li><%= link_to "About",   about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              
            </ul>
           </nav>
        </p>
      </div>
</footer>